<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RESTful Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css" />
    <link rel="stylesheet" href="/stylesheets/app.css">
    <script src="/javascript/src/moment.min.js"></script>
</head>
    <body>

        <nav class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="sitemap icon"></i> Blog</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>
            </div>
        </nav>
