<% include partials/header %>
<div class="ui main text container">
    <div class="ui huge header">RESTful Blog</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% blogs.forEach((blog)=>{ %>
                <div class="item">
                    <div class="image">
                        <img src="<%= blog.image %>" alt="<%= blog.name %>">
                    </div>
                    <div class="content">
                        <a class="header" href="/blogs/<%= blog.id %>"><%= blog.title %></a>
                        <div class="meta">
                            <span><%= blog.created.toDateString() %></span>
                        </div>
                        <div class="descrption">
                            <p><%- blog.body.substring(0, 100) %>...</p>
                        </div>
                        <div class="extra">
                            <a class="ui blue basic button" href="/blogs/<%= blog.id %>">
                                <%= blog.title %>
                                <i class="chevron right icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>

<% include partials/footer %>