<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">New Post</div>
    <form class="ui form" action="/blogs" method="post">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="Title....">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]" placeholder="Image....">
        </div>
        <div class="field">
            <label>Post Content</label>
            <textarea name="blog[body]"></textarea>
        </div>
        <button class="fluid ui button">Submit</button>
    </form>
</div>

<% include partials/footer %>